<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.Datasources.GetDatasourceUsagesCount">
        <patch:attribute name="type">Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.DatasourceUsages.GetDatasourceUsagesCount,Sitecore.Support.171097</patch:attribute>
      </request>
    </sitecore.experienceeditor.speak.requests>
    <settings>
      <!-- MAXIMUM TIME TO GET A DATASOURCE USAGES IN THE EXPERIENCE EDITOR
              Retrieving many referrers of a datasource may block the Experience Editor while proccesing. This settings limits (seconds) the time of retrieving referrers.              
              Default value: 2
              Disable limits: 0
      -->
      <setting name="ExperienceEditor.GetDatasourceUsagesCount.MaxProcessTime" value="2" />
    </settings>
  </sitecore>
</configuration>